.mother-container{
    max-width: 1440px;
    margin: 0 auto;
    background: linear-gradient(to right, #fff 50%, #5D37A2 50%);
    height: auto;
}
/*Header Başlangıç*/
.header{
    height: 88px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.header-left, .header-right{
    max-width: 720px;
    width: 100%;
}
.header-right{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.right-user{
    display: flex;
    gap:8px;
    align-items: center;
}
.right-user a{
    text-decoration: none;
}
.right-user h4{
    color: var(--neutral-white, #FFF);
    font-family: 'Roboto', sans-serif;
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
}
.right-user img{
    border-radius: 50%;
}
.right-icons{
    display: flex;
    gap: 40px;
}
/*Header Bitiş*/



/*Body Container Başlangıç*/
.container-body{
    width: 1440px;
    margin: 0 auto;
}
.body-content{
    margin-top: 162px;
    width: 1203px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.content-left{
    max-width: 435px;
}
.content-left p{
    margin-top: 24px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; /* 160% */ 
}
.content-left button{
    font-family: 'Open Sans', sans-serif;
    background-color: #5D37A2;
    color: #fff;
    width: 217px;
    height: 56px;
    padding: 16px 72px;
    justify-content: center;
    align-items: center;
    gap: 16px; 
    border: 0;
}
.content-left a{
    text-decoration: none;
    color: #fff;
}
.content-right{
    max-width: 656px;
    max-height: 389px;
}
.content-right img{
    margin-left: 200px;
}
/*Body Container Bitiş*/

/*footer-box*/
.footer-box{
    width: 1440px;
}
.footer-box img{
    margin: 285px 72px 0 1240px;
    padding-bottom: 56px;
}